# Secrets, other venv names, OS/editor files
.env
venv/
env/
.vscode/
.idea/
.DS_Store

.codex/
.venv/

# Django Specific
db.sqlite3

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Code Coverage
.coverage